.button {
    height: 46px;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    border: none;
}

.list-title {
    font-weight: 600;
    font-family: 'Jost', sans-serif;
    font-size: 2rem;
}