input[type=email],
input[type=password] {
    height: 3rem;
    width: 45rem;
    border-style: none;
    background-color: #EFEFEF;
}

.btn {
    background-color: #F99D1C;
    border-style: none;
    width: 10rem;
    height: 3rem;
}

body {
    height: 100vh;
}